$primary: #3bc9db;
$primary-dark: #0b7285;
$neutral-xlight: #f1f3f5;
$neutral-light: #ced4da;
$neutral-medium: #868e96;
$neutral-dark: #495057;

$white: #fff;
$black: $neutral-dark;

$sans-font: 'Roboto', sans-serif;
$serif-font: 'Roboto Slab', $sans-font;

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: $sans-font;
}

html {
  font-size: 4px;
}

body {
  font-size: 4rem;
}

#canvas {
  position: absolute;
}
